$background-header:  #122ab2;
$background-navbar:  #2c70ff;
$background-card: #f7f7f7;
$background-news-letter: #e0dddd;
$font-color-primary: #fff;
$font-color-secondary: #000;
$font-color-tertiary: #7c7c7c;
$font-color-card: #a4a4a4;
$border-card-primary: #ae81ff;
$border-card-secondary: #f9265e;
$border-card-tertiary: #66d9eb;
$hover-color-nav: #122ab2;
$hover-color-plans: #2c70ff;

